{% extends "base_site.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Tài liệu' %}</a> / {% endif %}{% trans 'Đổi mật khẩu' %} / <a href="{% url 'admin:logout' %}">{% trans 'Đang xuất' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'football:home' %}">{% trans 'Trang chủ' %}</a>
&rsaquo; {% trans 'Đổi mật khẩu' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<p>{% trans 'Mật khẩu của bạn đã được đổi' %}</p>
{% endblock %}