<!DOCTYPE html>
<html lang="vi">
<head>
  <title>Dự đoán kết quả bóng đá</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .center {
  padding: 40px 0;
  font-size: 25px;
  text-align: center;
  color: red;
  }
  </style>
  {% load sum_reward %}
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
     <ul class="nav navbar-nav">
        <li><a href="{% url 'football:home' %}"><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'football:predict' %}"><span class="glyphicon glyphicon-edit"></span> Dự đoán</a></li>
        <li><a href="{% url 'football:result' %}"><span class="glyphicon glyphicon-star"></span> Bảng điểm</a></li>
        {% endif %}
        <li><a href="{% url 'football:rule' %}"><span class="glyphicon glyphicon-question-sign"></span> Luật chơi</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'football:user' %}"><span class="glyphicon glyphicon-user"></span>  {{ user.username }}</a></li>
        <li><a href="{% url 'password_change' %}"><span class="glyphicon glyphicon-cog"></span>  Đổi mật khẩu</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>  Đăng xuất</a></li>
        {% else %}
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>  Đăng nhập</a></li>
        {% endif %}
     </ul>
  </div>
</nav>

<div class="container">
  <div class="center">
     <p>Giải thưởng</p>
     <p>{{ summary|running_total }}$</p>
  </div>
  <table class="table table-hover">
     <thead>
        <tr class="info">
            <th width="12%">Tài khoản</th>
            <th width="22%">Dự đoán kết quả</th>
            <th width="22%">Dự đoán tỉ số</th>
            <th width="22%">Tổng số lần đúng</th>
            <th width="22%">Tổng số tiền</th>
        </tr>
     </thead>
     <tbody>
     {% for sumuser in summary %}
        <tr class="active">
            <th>{{ sumuser.user_data.username }}</th>
            <th>Đúng: {{ sumuser.winner_number }} | Tiền: {{ sumuser.winner_point }}$</th>
            <th>Đúng: {{ sumuser.score_number }} | Tiền: {{ sumuser.score_point }}$</th>
            <th>{{ sumuser.total }}</th>
            <th>{{ sumuser.total_reward }}$</th>
        </tr>
     {% endfor %}
     </tbody>
  </table>
</div>
</body>
</html>
