<!DOCTYPE html>
<html lang="vi">
<head>
  <title>Dự đoán kết quả bóng đá</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style>
  .center {
  padding: 200px 0;
  font-size: 20px;
  text-align: center;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
     <ul class="nav navbar-nav">
        <li><a href="{% url 'football:home' %}"><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'football:predict' %}"><span class="glyphicon glyphicon-edit"></span> Dự đoán</a></li>
        <li><a href="{% url 'football:result' %}"><span class="glyphicon glyphicon-star"></span> Bảng điểm</a></li>
        {% endif %}
        <li><a href="{% url 'football:rule' %}"><span class="glyphicon glyphicon-question-sign"></span> Luật chơi</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'football:user' %}"><span class="glyphicon glyphicon-user"></span>  {{ user.username }}</a></li>
        <li><a href="{% url 'password_change' %}"><span class="glyphicon glyphicon-cog"></span>  Đổi mật khẩu</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>  Đăng xuất</a></li>
        {% else %}
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>  Đăng nhập</a></li>
        {% endif %}
     </ul>
  </div>
</nav>

<div class="container">
{% if user.is_authenticated %}
   <table class="table table-hover">
   <thead>
      <tr class="info">
          <th width="16%">User Name</th>
          <th width="16%">First Name</th>
          <th width="16%">Last Name</th>
          <th width="20%">Email</th>
          <th width="16%">Last Login</th>
          <th width="16%">Date Joined</th>
      </tr>
   </thead>
   <tbody>
      <tr class="active">
          <th>{{user.username}}</th>
          <th>{{user.first_name}}</th>
          <th>{{user.last_name }}</th>
          <th>{{user.email}}</th>
          <th>{{user.last_login|date:"H:i dMY"}}</th>
          <th>{{user.date_joined|date:"H:i dMY"}}</th>
      </tr>
   </tbody>
</table>
{% endif %}
</div>
</body>
</html>