<!DOCTYPE html>
<html lang="vi">
{% if user.is_authenticated %}
<head>
  <title>Dự đoán kết quả bóng đá</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
     <ul class="nav navbar-nav">
        <li><a href="{% url 'football:home' %}"><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
        <li><a href="{% url 'football:predict' %}"><span class="glyphicon glyphicon-edit"></span> Dự đoán</a></li>
        <li><a href="{% url 'football:result' %}"><span class="glyphicon glyphicon-star"></span> Bảng điểm</a></li>
        <li><a href="{% url 'football:rule' %}"><span class="glyphicon glyphicon-question-sign"></span> Luật chơi</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'football:user' %}"><span class="glyphicon glyphicon-user"></span>  {{ user.username }}</a></li>
        <li><a href="{% url 'password_change' %}"><span class="glyphicon glyphicon-cog"></span>  Đổi mật khẩu</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>  Đăng xuất</a></li>
     </ul>
  </div>
</nav>

<div class="container">
 <form action="" method="post" id="vote-form">{% csrf_token %}
    <table class="table table-hover">
    <thead>
        <tr class="info">
            <th width="12.5%">Thời gian</th>
            <th width="10%">Đội A</th>
            <th width="10%">Đội B</th>
            <th width="12.5%">Vòng đấu</th>
            <th width="25%">Dự đoán kết quả - Cược {{ data.schedule.result_point}}$</th>
            <th width="30%">Dự đoán tỉ số - Cược {{ data.schedule.score_point}}$</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            {{ form.user_data}}
            {{ form.schedule}}
            <th>{{ data.schedule.match_date|date:"H:i dMY"}}</th>
            <th>{{ data.schedule.team_a}}</th>
            <th>{{ data.schedule.team_b}}</th>
            {% if data.schedule.level == "1-32" %}
                <th>Vòng bảng</th>
            {% endif %}
            {% if data.schedule.level == "1-16" %}
                <th>Vòng 1-16</th>
            {% endif %}
            {% if data.schedule.level == "Quarterfinal" %}
                <th>Tứ kết</th>
            {% endif %}
            {% if data.schedule.level == "Semifinal" %}
                <th>Bán kết</th>
            {% endif %}
            {% if data.schedule.level == "Third place" %}
                <th>Tranh giải ba</th>
            {% endif %}
            {% if data.schedule.level == "Final" %}
                <th>Chung kết</th>
            {% endif %}
            <th>{{ form.predict_winner}}</th>
            <th>{{form.predict_score_a}} Đội A - Đội B {{form.predict_score_b}}</th>
        </tr>
    </tbody>
    </table>
    <div class="submit-row" align="right">
        <input type="submit" value="Lưu dự đoán">
    </div>
</form>
</div>

</body>
{% else %}
<head>
<style>
.center {
  padding: 200px 0;
  font-size: 25px;
  text-align: center;
}
</style>
</head>
<body>
<div class="center">
   <p><a href="{% url 'login' %}">Đăng nhập</a></p>
</div>
</body>
{% endif %}
</html>